title {
    font-family: Helvetica, sans-serif;
    color: purple;
}

.storyboard-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.storyboard-element {
    margin: 5px;
    width: 400px;
    height: 400px;
}