body {
    font-family: Montserrat, sans-serif;
    color: black;
}

h1, h2, h3, h4 {
    color: purple;
}

.sketch-wrapper {
    display: flex;
    justify-content: center;
    margin: 3em;
}

.personas-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.persona-element {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 3em;
    margin-left: 3em;
    width: 500px;
}

.storyboard-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.storyboard-element {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 3em;
    margin-left: 3em;
    width: 300px;
}