body {
    margin-left: 30px;
    font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4 {
    color: purple;
}

.sketch-wrapper {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.personas-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.persona-element {
    margin: 50px, 50px;
    width: 500px;
    height: 500px;
}

.storyboard-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.storyboard-element {
    margin: 30px, 50px;
    width: 300px;
}